doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.bundle.min.js")
  body
    block breadcrumb
    block content
