extends layout

mixin row(rowData)
    each item, index in rowData
        tr
            td
                input(type='checkbox', name='#{item.id}')
            td=item.id
            td=item.billing_address.name
            td=item.email

block content
    table(class='table table-bordered table-striped')
        each item, index in orderData
            +row(item)