body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.order-details {
  padding: 1em;
}

.order-info {
  padding-top: 1em;
  padding-bottom: 1em;
}

.customer-info {
  padding-top: 1em;
  padding-bottom: 1em;
}

.order-details table {
  width: 50%;
}