body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.order-details {
  padding-bottom: 1em;
  width: 50%;
}

.order-info {
  padding-top: 1em;
  padding-bottom: 1em;
}

.customer-info {
  padding-bottom: 1em;
}

.order-totals {
  text-align: right;
  font-weight: 100;
  color: #666;
}